header{
	background-color: #FFFFFF;
}
.menu li{
	display:inherit;
}

.menu_header{
	display: inline-block;
	padding: 10px;
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #FFFFFF;
	border-width:1px;
	border-bottom-style:solid;
	border-color:black;
}

.menu_logo{
	display: inline-block;
	width: 75%;
}

.menu_icon{
	display: inline-block;
	width: 20%;
	text-align: right;
}

.menu_lvl1{
	text-align: center;
	font-size: 85px;
	border-width:1px;
	border-bottom-style:solid;
	border-color:black;
}

.menu_lvl1 a{
	margin-right: 50px;
	font-size : 20px;
}

main {
	margin: 0;
	padding: 0;
	min-height:57.8vh;
	display:flex;
	flex-direction:column;
	width: 100%;
 	flex-grow: 1;
 	max-width: 1024px;
 	margin: auto;
 	margin-top: 25px;
	margin-bottom: 25px;
}

footer{
	background-color: #171796;
	width: 100%;
}

.nous span{
	color: #FFFFFF;
	display: block;
	margin-top: 20px;
}

.contact{
	margin-left: 23%;
	display: inline-block;
}

.follow{
	margin-left: 20%;
	display: inline-block;
}

.copyright{
	color: #FFFFFF;
	margin-left: 45%;
}

.compteSvg {
    width: 6%;
    height: 1%;
}
.logo img {
    width: 75px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: #171796;
    font-family: "system-ui";
}

.link:hover {
    color: #EF3340;
		text-decoration: none;
}

.intro h1 {
    position: relative;
    margin-left: 35%;
}


#img_back {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.img_back{
	position: absolute;
	width: 100%;
	z-index: 0;
}

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
}
#menu ul li{
display:inherit;
padding: 0;
}
#menu ul{
	width: 100%;
	position: absolute;
	max-height: 0;
	overflow:hidden;
	transition: .8s all .1s;
}
#menu li:hover ul{
	max-height: 20em;
	border-width:1px;
	border-left-style:solid;
	border-right-style:solid;
	border-color:black;
	background-color: #FFFFFF;
	margin-top: 10px;
}

.menu_compte h1{
	display: inline-block;
	font-size: 15px;
}

.compte_top{
	border-width:1px;
	border-top-style:solid;
	border-color:black;
	color: #171796;
}

.compte_top h1{
	font-size: 18px;
}

.compte_bottom{
	border-width:1px;
	border-bottom-style:solid;
	border-color:black;
}

.phone{
	color: #FFFFFF;
}

.phone:hover {
    color: #EF3340;
		text-decoration: none;
}

.compte{
	display: inline-block;
	padding: 10px;
	z-index: 1;
	width: 100%;
	background: #FFFFFF;
	margin-top: 20px;
}

.compte h1{
	font-size: 20px;
	color: #171796;
}

.old{
	display: inline-block;
	margin-right: 20px;
	width: 45%;
}

.new{
	display: inline-block;
	width: 50%;
}

.connexion{
	display: inline-block;
	border-width:1px;
	border-style:solid;
	border-color:black;
	padding: 20px;
}

.creation_compte{
	display: inline-block;
	border-width:1px;
	border-style:solid;
	border-color:black;
	padding: 20px;
}

.twitter{
	width: 10%;
}

.instagram{
	width: 10%;
}

.facebook{
	width: 10%;
}

.linkedin{
	width: 10%;
}

.img_para{
	background-color: #FF00FF;
	width: 100%;
	font-size: 125px;
}

.img_ulm{
	background-color: #00FF00;
	width: 100%;
	font-size: 125px;
}

.img_bap{
	background-color: #FFFF00;
	width: 100%;
	font-size: 125px;
}

.img_pilo{
	background-color: #FF0F0F;
	width: 100%;
	font-size: 125px;
}

.connexion_service{
	text-align: center;
}

.error{
	display: none;
	color: #EF3340;
}

.error_meteo{
	color: #EF3340;
}

.infos_titre{
	background-color: #FF0000;
}
.vos_infos{
	background-color: #00FF00;
}

.infos_compte input,.input,#btn_enregistrer,.input_stationnement,.input_avitaillement,.input_nettoyage{
	display: none;
}

.button_submit{
	display: inline-block;
	display:inherit;
	text-align: center;
	background-color: #EF3340;
	padding: 10px;
	margin-top: 10px;
}

.button_submit a{
	color: #FFFFFF;
}

.button_submit:hover a{
	color: #FFFFFF;
	text-decoration: none;
}

#submit{
	background: none;
  border: none;
	outline:none;
	padding: 0;
  color: #FFFFFF;
}

#submit:hover{
	cursor: pointer;
}

#forgot{
	color: #171796;
}

.intro_head{
	position: relative;
	margin-bottom: 20px;
}

.intro_head img{
	height: 125px;
	width: 100%;
}

.img_loisir img{
	height: 125px;
	width: 100%;
}

.intro_head h1{
	color: #FFFFFF;
}

.texte_head{
	position:absolute;
	top:50px;
	width:75%;
	height:100px;
	z-index:2;
	font-size:50%"
}

td,th{
	border: solid 1px;
	padding: 10px;
}

.hide{
	display: none;
}

.calendrier{
	width: 100%;
	height: calc(100vh - 170px);
}

.calendrier td{
	padding: 10px;
	border: 1px solid #CCC;
	vertical-align: top;
	width: 14.29%;
	height: 20%;
}

.calendrier_6 td{
	height: 16.66%;
}

.calendrier_semaine{
	font-weight: bold;
	font-size: 1.2em;
}


.calendrier_hors_mois .calendrier_nb_jour{
	opacity: 0.3;
}

.calendrier_aujourdhui{
	background-color: #e2e2e2;
}

.calendrier_ajout{
	display: block;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	background-color: #171796;
	border-radius: 50%;
	position: absolute;
	bottom: -35px;
	right: 250px;
	text-decoration: none;
}

.calendrier_ajout:hover{
	text-decoration: none;
	color: #EF3340;
}

.button_submit input{
	width: 100%;
}
